<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./views/partials/heads.ejs'); %>
  </head>
  <body>
    <header><%- include('./views/partials/headers.ejs'); %></header>

    <div id="moviesList"></div>

    <!-- Basic API Classes -->
    <script src="../scripts/api.js"></script>
    <!-- Loader for Movies -->
    <script src="../scripts/moviesLoader.js"></script>
  </body>
</html>
