<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./views/partials/heads.ejs'); %>
  </head>
  <body>
    <header><%- include('./views/partials/headers.ejs'); %></header>

    <div id="showsList"></div>

    <script src="../scripts/api.js"></script>
    <script src="../scripts/showsLoader.js"></script>
  </body>
</html>
